<h5 class="mat-title">Veuillez entrer votre e-mail pour rechercher votre compte.</h5>
<div mat-dialog-content>
  <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email"  formControlName="email" required class="form-field">
        </mat-form-field>
      <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
        <div *ngIf="f['email'].errors && f['email'].errors?.['required']">Ce champ est obligatoire</div>
        <div *ngIf="f['email'].errors && f['email'].errors?.['email']">Email invalide</div>
      </div>
    <div class="alert alert-danger" *ngIf="error">
      {{error}}</div>
    <div  class="button-row">
      <button mat-raised-button class="me-8 mb-8" color="primary" [disabled]="!form.valid" >Soumettre</button>
      <button mat-raised-button class="me-8 mb-8" color="warn" (click)="onNoClick()">Annuler</button>
    </div>
  </form>
</div>

