<mat-card class="w-100">

<mat-card-header>
  <h4 class="mb-56">{{"warehouse" | translate}}s</h4>
</mat-card-header>
<mat-card-content>
  <div class="card">
    <div class="card-body">
      <form class="form-content" [formGroup]="form" (ngSubmit)="submit()" >
        <mat-form-field appearance="outline">
          <mat-label>{{"warehouse" | translate}} </mat-label>
          <mat-select
            disableRipple
            formControlName="warehouse"
          >
            <mat-option value="">Select</mat-option>
            <mat-option
              *ngFor="let warehouse of warehouses"
              [value]="warehouse"
            >{{ warehouse.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>{{"qty" | translate}}</mat-label>
          <input matInput type="number" formControlName="qty">
        </mat-form-field>

        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>{{"unitCost" | translate}}</mat-label>
          <input matInput type="number" formControlName="unitCost">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>


        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>{{"sparePart.reorderPoint" | translate}}</mat-label>
          <textarea matInput type="text" formControlName="reorderPoint"></textarea>
        </mat-form-field>

        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>{{"sparePart.reorderQty" | translate}}</mat-label>
          <input matInput type="number" formControlName="reorderQty">
        </mat-form-field>

        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>{{"sparePart.minQty" | translate}}</mat-label>
          <input matInput type="number" formControlName="minQty">
        </mat-form-field>

        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>{{"sparePart.maxQty" | translate}}</mat-label>
          <input matInput type="number" formControlName="maxQty">
        </mat-form-field>


        <mat-error *ngIf="error" class="alert alert-danger"> {{error | translate}} </mat-error>
        <div class="button-row d-flex flex-wrap mb-24">
          <button mat-raised-button class="me-8 mb-8" color="primary" style="margin-right: 20px;"
          >{{"submit" | translate}}
          </button>
          <button mat-raised-button class="me-8 mb-8" color="warn"
                  (click)="cancel()">{{"cancel" | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</mat-card-content>

</mat-card>
