  <mat-card-header>
    <h4 class="mb-56">{{"generalinfo" | translate}}</h4>
  </mat-card-header>
  <mat-card-content>
    <div class="card">
      <div class="card-body">
        <form class="form-content" [formGroup]="form" (ngSubmit)="submit()">
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>{{"name" | translate}}</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Reference</mat-label>
            <input matInput type="text" formControlName="reference">
          </mat-form-field>


          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{"spcategory" | translate}} </mat-label>
            <mat-select
              disableRipple
              formControlName="category"
            >
              <mat-option value="">Select</mat-option>
              <mat-option
                *ngFor="let category of categories"
                [value]="category"
              >{{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>{{"sparePart.unitType" | translate}} </mat-label>
            <mat-select
              disableRipple
              formControlName="unitType"
            >
              <mat-option value="">Select</mat-option>
              <mat-option
                *ngFor="let ut of unitTypes"
                [value]="ut.value"
              >{{ ut.viewValue | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-error *ngIf="error" class="alert alert-danger"> {{error | translate}} </mat-error>

        </form>
      </div>
    </div>
  </mat-card-content>

