<mat-card class="w-100">
  <mat-card-header>
    <h4 class="mb-56"> {{"location" | translate}}s</h4>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile [colspan]=3 [rowspan]=1>
        <mat-form-field class="w-100" color="primary">
          <!--          <i-feather name="search" class="mt-n3 text-light-muted feather-base text-dark"></i-feather>-->
          <mat-label class="fs-16"> {{"search" | translate}}</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-chip class="f-s-14" style="background-color: #1CB0CF" [routerLink]="['/add-location']">
          <img
            matChipAvatar
            src="./assets/images/icons/icon-add.png"
            alt="Photo of a Shiba Inu"
          />
          <p style="color: white"> {{"add" | translate}}</p>
        </mat-chip>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100" matSort>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Assigned Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"name" | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.name }}</p>
          </td>
        </ng-container>




        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">

            <!-- <p class="mb-0 fw-medium">{{element.budget}}</p> -->
            <button mat-mini-fab class="mb-8 me-8" color="accent"
                    [routerLink]="['/edit-location/', element.id]">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            </button>

            <button mat-mini-fab class="mb-8 me-8" color="warn"
                    (click)="openDialog(element.name,element)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="tableLength"
                     [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
