<mat-card class="w-100">
  <mat-card-header>
   <mat-card-title style="margin-bottom: 50px"> Ajouter Ordre  de travail</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="forms">
        <div >
          <form>
              <mat-card class="b-1 shadow-none">
                <mat-card-header>
                  <mat-card-title>Générale</mat-card-title>
                </mat-card-header>
                <mat-card-content class="b-t-1">
                  <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Ordre de travail</mat-label>
                      <input matInput placeholder="Placeholder" >
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Priotité</mat-label>
                      <input matInput placeholder="Placeholder" >
                    </mat-form-field>
                  </p>
                </mat-card-content>
              </mat-card>


            <mat-card class="b-1 shadow-none">
              <mat-card-header>
                <mat-card-title>Dates</mat-card-title>
              </mat-card-header>
              <mat-card-content class="b-t-1">
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Planifié</mat-label>
                    <input matInput [matDatepicker]="picker" >
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Durée</mat-label>
                    <input matInput [matDatepicker]="picker2" >
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Commencé</mat-label>
                    <input matInput [matDatepicker]="picker3" >
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Fini</mat-label>
                    <input matInput [matDatepicker]="picker4" >
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                </p>
              </mat-card-content>
            </mat-card>

              <mat-card class="b-1 shadow-none">
                <mat-card-header>
                  <mat-card-title>Technicien</mat-card-title>
                </mat-card-header>
                <mat-card-content class="b-t-1">
                  <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Technicien</mat-label>
                      <select matNativeControl required>
                        <option value="volvo">--sélectionnez--</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                      </select>
                    </mat-form-field>
                  </p>
                </mat-card-content>
              </mat-card>

          </form>
        </div>
      </div>
      <div class="maint-table">
        <div class="table-responsive">
          <mat-chip class="f-s-14" style="background-color: #1CB0CF" class="add-button" [routerLink]="['/add-equipement']" >
            <img
              matChipAvatar
              src="./assets/images/icons/icon-add.png"
              alt="Photo of a Shiba Inu"
            />
            <p style="color: white"> Ajouter</p>
          </mat-chip>
          <mat-tab-group>
            <mat-tab label="Maintenance">
              <app-add-maintenance-tab></app-add-maintenance-tab>
            </mat-tab>
            <mat-tab label="Pièces de rechange"> Content 2 </mat-tab>
            <mat-tab label="Main d'oeuvre"> Content 3 </mat-tab>
            <mat-tab label="Pièces jointes"> Content 3 </mat-tab>
            <mat-tab label="Remarques"> Content 3 </mat-tab>
          </mat-tab-group>
        </div>
        <div class="total-tab">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Sous-total</mat-label>
              <input matInput placeholder="Placeholder" value="420$" readonly >
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Remise</mat-label>
              <input matInput placeholder="Placeholder" value="0%" readonly >
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Taxes</mat-label>
              <input matInput placeholder="Placeholder" value="19%" readonly >
            </mat-form-field>
          </p>
          <mat-divider style=" border-top-color:black; width: 200px"></mat-divider>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Total</mat-label>
              <input matInput placeholder="Placeholder" value="535$" readonly >
            </mat-form-field>
          </p>

        </div>
      </div>

    </div>
    <div class="example-button-row" style="margin-left: 500px">
      <button mat-flat-button color="primary">Entregistrer</button>
      <button mat-flat-button color="warn">Annuler</button>
    </div>
  </mat-card-content>
</mat-card>
