<mat-card class="w-100">
  <mat-card-header>
    <h4 class="mb-56"> {{"sp" | translate}}s</h4>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile [colspan]=3 [rowspan]=1>
        <mat-form-field class="w-100" color="primary">
          <!--          <i-feather name="search" class="mt-n3 text-light-muted feather-base text-dark"></i-feather>-->
          <mat-label class="fs-16"> {{"search" | translate}}</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-chip class="f-s-14" style="background-color: #1CB0CF" [routerLink]="['/add-inventory']">
          <img
            matChipAvatar
            src="./assets/images/icons/icon-add.png"
            alt="Photo of a Shiba Inu"
          />
          <p style="color: white"> {{"add" | translate}}</p>
        </mat-chip>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100" matSort>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Assigned Column -->
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.reference }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"name" | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.name }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.description }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="unitType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"sparePart.unitType" | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.unitType }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"category" | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.category.name }}</p>
          </td>
        </ng-container>

<!--        <ng-container matColumnDef="vendors">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"vendors" | translate}} </th>-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--            <mat-list role="list" *ngFor="let spVendor of element.sparePartVendors">-->
<!--              <mat-list-item role="listitem">{{spVendor.vendor.fistName}} {{spVendor.vendor.lastName}}</mat-list-item>-->
<!--            </mat-list>-->
<!--            <button mat-mini-fab class="mb-8 me-8" color="accent"-->
<!--                    [routerLink]="['/add-inv-vendor/', element.id]">-->
<!--              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>-->
<!--            </button>-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="warehouses">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"warehouse" | translate}}s </th>-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--            <mat-list role="list" *ngFor="let spWarehouse of element.sparePartWarehouses">-->
<!--              <mat-list-item role="listitem">{{spWarehouse.warehouse.name}}</mat-list-item>-->
<!--            </mat-list>-->
<!--          <button mat-mini-fab class="mb-8 me-8" color="accent"-->
<!--                  [routerLink]="['/add-inv-warehouse/', element.id]">-->
<!--            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>-->
<!--          </button>-->
<!--          </td>-->
<!--        </ng-container>-->

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
            <div  style="display: flex; flex-direction: row">
              <button mat-mini-fab class="mb-8 me-8" color="accent" [routerLink]="['/view-inventory/',element.id]">
                <mat-icon aria-label="Example icon-button with a heart icon" style="color: white;">remove_red_eye
                </mat-icon>
              </button>
              <div>
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >

                  <mat-icon>
                    <i-tabler name="dots" class="icon-20"></i-tabler>
                  </mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="cardWithShadow">
                  <button mat-menu-item [routerLink]="['/edit-inventory/',element.id]">
                    <mat-icon>edit</mat-icon>
                    {{"edit" | translate}}</button>
                  <button mat-menu-item [routerLink]="['/add-inv-vendor/', element.id]">
                    <mat-icon>add</mat-icon>{{"vendor.vendor" | translate}}</button>
                  <button mat-menu-item [routerLink]="['/add-inv-warehouse/', element.id]">
                    <mat-icon>add</mat-icon>{{"warehouse" | translate}}</button>
                  <button mat-menu-item (click)="openDialog(element.firstName,element)">
                    <mat-icon >delete</mat-icon>{{"delete" | translate}}</button>

                </mat-menu>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="tableLength"
                     [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
