<mat-card class="w-100">
  <mat-card-header>
    <h4 class="mb-56">Liste des équiments</h4>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile [colspan]=3 [rowspan]=1>
        <mat-form-field class="w-100" color="primary">
          <!--          <i-feather name="search" class="mt-n3 text-light-muted feather-base text-dark"></i-feather>-->
          <mat-label class="fs-16">Rechercher Ici</mat-label>
          <input matInput>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-chip class="f-s-14" style="background-color: #1CB0CF" [routerLink]="['/add-equipement']" >
          <img
            matChipAvatar
            src="./assets/images/icons/icon-add.png"
            alt="Photo of a Shiba Inu"
          />
          <p style="color: white"> Ajouter Equipment</p>
        </mat-chip>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">

        <!-- Id Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Code</th>
          <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <!-- Assigned Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date de fabrication</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.date }}</p>
          </td>
        </ng-container>

        <!-- Project Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.type}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef>Marque</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.brand}}</p>
          </td>
        </ng-container>

        <!-- Priority Column -->
        <ng-container matColumnDef="mh">
          <th mat-header-cell *matHeaderCellDef> kilometrage /Heures</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.mh}}</p>
          </td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="serial">
          <th mat-header-cell *matHeaderCellDef> Numero de serie</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.serial}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef> Reference</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.ref}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Etat</th>
          <td mat-cell *matCellDef="let element">
             <app-progress-bar *ngIf="element.status==='encours'" [value]="element.progress" ></app-progress-bar>

            <span class="badge {{element.badge}} rounded-pill" *ngIf="element.status!='encours'">{{element.status}}</span>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details</th>
          <td mat-cell *matCellDef="let element">
            <div class="m-l-auto">
              <button mat-fab color="warn" class="shadow-none icon-48" (click)="openDialog()">
                <i-tabler
                  class="routeIcon"
                  name="layout-navbar-expand"
                  matListItemIcon
                ></i-tabler>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>
                  <i-tabler name="dots" class="icon-20"></i-tabler>
                </mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="cardWithShadow" xPosition="before">
                <button mat-menu-item> <mat-icon matListItemIcon>settings_applications</mat-icon>Demande de réparation</button>
                <button mat-menu-item><mat-icon matListItemIcon>settings</mat-icon>Emettre un bon de travail</button>
                <button mat-menu-item><mat-icon matListItemIcon>library_add</mat-icon>Ajouter depenses</button>
                <button mat-menu-item><mat-icon matListItemIcon>playlist_add</mat-icon>Ajouter consommation</button>
                <button mat-menu-item><mat-icon matListItemIcon>zoom_in</mat-icon>Inspection</button>
                <button mat-menu-item><mat-icon matListItemIcon>work_outline</mat-icon>Configuration des tâches</button>
                <button mat-menu-item><mat-icon matListItemIcon>history</mat-icon>Historique</button>
                <button mat-menu-item><mat-icon matListItemIcon>edit</mat-icon>Modifier</button>
                <button mat-menu-item><mat-icon matListItemIcon>delete</mat-icon>Supprimer</button>

              </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
<!--<notifier-container></notifier-container>-->
