<mat-card class="w-100">
  <mat-card-header>
    <h4 class="mb-56">{{"edit" | translate}} {{"employee.employee" | translate}}</h4>
  </mat-card-header>
  <mat-card-content>
    <div class="card">
      <div class="card-body">
        <form class="form-content" [formGroup]="form" (ngSubmit)="submit()">
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>{{"employee.firstName" | translate}}</mat-label>
            <input matInput type="text" value="employee.firstName" formControlName="firstName">
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>{{"employee.lastName" | translate}}</mat-label>
            <input matInput type="text"  formControlName="lastName">
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>{{"employee.email" | translate}}</mat-label>
            <input matInput type="email"  formControlName="email">
          </mat-form-field>
          <mat-error *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
            <mat-error
              *ngIf="f['email'].errors && f['email'].errors?.['email']"> {{"email-validation" | translate}}</mat-error>
          </mat-error>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>{{"employee.phoneNumber" | translate}}</mat-label>
            <input matInput type="text" formControlName="phoneNumber">
          </mat-form-field>
          <mat-error *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid" class="alert alert-danger">

            <mat-error
              *ngIf="f['phoneNumber'].errors && f['phoneNumber'].errors?.['pattern']"> {{"phone-validation" | translate}}
            </mat-error>

          </mat-error>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.viewValue | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>{{"employee.status" | translate}}</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let s of status" [value]="s.value">
                {{s.viewValue | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>{{"employee.drivingLicense" | translate}}</mat-label>
            <input matInput type="number"  formControlName="drivingLicense">
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>{{"employee.laborRate" | translate}}</mat-label>
            <input matInput type="number"  formControlName="laborRate">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
          <section class="example-section">
            <mat-label>{{"location" | translate}}s</mat-label>
            <mat-checkbox *ngFor="let location of locations"  #checkBoxLocation [value]="location" (change)="getCheckboxLocation(checkBoxLocation)"
                          [checked]="isCheckedLocations(location)" >{{ location.name }}</mat-checkbox>
          </section>
          <section class="example-section">
            <mat-label>{{"warehouse" | translate}}s</mat-label>
            <mat-checkbox *ngFor="let warehouse of warehouses"   #checkBoxWarehouse [value]="warehouse" (change)="getCheckboxWarehouse(checkBoxWarehouse)"
                          [checked]="isCheckedWarehouses(warehouse)" >{{ warehouse.name }}</mat-checkbox>
          </section>

          <mat-form-field appearance="outline">
            <mat-label>{{"vendor.defaultWarehouse" | translate}} </mat-label>
            <mat-select
              disableRipple
              formControlName="defaultWarehouse"
            >
              <mat-option value="">Select</mat-option>
              <mat-option
                *ngFor="let warehouse of warehouses"
                [value]="warehouse"
              >{{ warehouse.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="toggle-buttons">
            <div>
              <mat-label style="margin-right: 20px">{{"employee.allowWorkOrder" | translate}}</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="allowWorkOrder">
                <mat-button-toggle value="true" [checked]="allowWorkOrder" (click)="allowWorkOrder=true">{{"true" | translate}}</mat-button-toggle>
                <mat-button-toggle value="false" [checked]="!allowWorkOrder" (click)="allowWorkOrder=false">{{"false" | translate}}</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div>
              <mat-label style="margin-right: 20px">{{"employee.allowLogin" | translate}}</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="allowLogin">
                <mat-button-toggle value="true" [checked]="allowLogin" (click)="allowLogin=true" >{{"true" | translate}}</mat-button-toggle>
                <mat-button-toggle value="false" [checked]="!allowLogin" (click)="allowLogin=false">{{"false" | translate}}</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>

          <div *ngIf="allowLogin">
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>{{"employee.userName" | translate}}</mat-label>
              <input matInput type="text" placeholder="UserName" formControlName="userName">
            </mat-form-field>

          </div>

          <mat-error *ngIf="error"  class="alert alert-danger"> {{error | translate}} </mat-error>
          <div class="button-row d-flex flex-wrap mb-24">
            <button mat-raised-button class="me-8 mb-8" color="primary" style="margin-right: 20px;"
            >{{"submit" | translate}}
            </button>
            <button mat-raised-button class="me-8 mb-8" color="warn" (click)="cancel()">{{"cancel" | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>

