<mat-tab-group>
  <mat-tab label="Résumé"> <app-summary></app-summary></mat-tab>
  <mat-tab label="Details"> Details</mat-tab>
  <mat-tab label="Taches"> Taches </mat-tab>
  <mat-tab label="Ordre de travail"> Ordre de travail</mat-tab>
  <mat-tab label="Historique"> Historique</mat-tab>
  <mat-tab label="Pieces de recharge relatives"> Pieces de recharge relatives </mat-tab>
  <mat-tab label="Images"> Images</mat-tab>
  <mat-tab label="Pieces jointes"> Pieces jointes</mat-tab>
  <mat-tab label="Notes"> Notes </mat-tab>
</mat-tab-group>


<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p>What's your favorite animal?</p>-->
<!--  <mat-form-field>-->
<!--    <mat-label>Favorite Animal</mat-label>-->
<!--    <input matInput [(ngModel)]="data.animal">-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
<!--</div>-->
